<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Code Helper</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/design.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>

	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">CodeHelper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Materials
        </a>
        <div class="dropdown-menu" style="margin-top:-2px;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item active" href="#">Notes</a>
          <a class="dropdown-item" href="#">Previous Papers</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How This Works!?</a>
      </li>
 <%if(!currentUser){ %>
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Sign in
        </a>
    <form class="dropdown-menu p-4" style="margin-top: 7px;" action="/login" method="POST" id="login">
      <div class="form-group">
        <label for="exampleDropdownFormEmail2">Email address</label>
        <input type="username" class="form-control" id="exampleDropdownFormEmail2" placeholder="username" name="username" autofocus>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword2">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
       <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/register">New around here? Sign up</a>
    </form>
 <%}else{%>
                <li class="nav-item">
                     <a class="nav-link" href="#">signed as <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="/logout">LOG OUT</a>
                </li>
  <%}%>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="/blogs/new">New Post</a>
      </li>
    </ul>
  </div>
</nav>
<div id="navSpace"></div>