<% include partials/header %>
	<!--Jumbotron-->
	<div class="jumbotron">
	  <h1 class="display-4">Hello, GNDUians!</h1>
	  <p class="lead">This is a simple website which would help you in Collecting and managing notes.</p>
	  <hr class="my-4">
	  <p>Want to know How this work?</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Know more</a>
	  </p>
	</div>
	<!--Codes-->
<div class="container mt-5" >
  <h2>Codes</h2><small>Your Helping Hand</small>
  <p>Check from the following codes: </p>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="bg-info">
        <th>Code</th>
        <th>Subject</th>
        <th>Download/Purchase</th>
      </tr>
    </thead>
    <tbody>
    <%  posts.forEach(function(post){ %>
      
      <tr>
        <td><%=post.code%></td>
        <td>><%=post.subject%></td>
        <td><a href="/home/<%= post._id %>">Download/Purchase</a></td>
      </tr>
    <%  }) %>
    <tr>
      <td><a href="/home/new">+</a></td>
      <td><a href="/home/new">+</a></td>
      <td><a href="/home/new">+</a></td>
    </tr>
        
    </tbody>
  </table>
</div>
    <% include partials/footer %>