<% include partials/header %>
<form action="/home/<%=post._id%>/comment" method="POST">
    <input type="text" placeholder="Comment" name="comment[text]">
    <button>SUBMIT</button>
</form>
<% include partials/footer %>