<% include partials/blog_header %>
    <div class="container">
        <div>
   	    <h1 class="display-1 custom1 centerAlign"><%=blog.title%></h1>
   	    
	           <img class="img-thumbnail rounded" src="<%= blog.image %>">
	            <div class="content">
	                <div class="">
    	                <span><%= blog.created.toDateString() %></span>
	                </div>
            	     <div class="description">
            	        <p><%- blog.body %></p>
            	     </div>
	            </div>
            </div>
            <a href="/blogs/<%=blog._id%>/edit" class="btn btn-outline-primary">Update Blog</a>
            <form style="display: inline" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
                <button class="btn btn-outline-danger" type="submit">Delete Blog</button>
            </form>
        </div>
        </div>
    </div>
    <% include partials/footer %>


<% include partials/footer %>